.post {
  display: block;
  margin-bottom: 48px;

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--heading);
    margin-bottom: 8px;
  }

  p {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--body);
    margin-bottom: 24px;
  }

  .info {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--info);
    display: flex;
    align-items: center;
    gap: 24px;

    div {
      display: flex;
      align-items: center;

      span,
      time {
        margin-left: 8px;
      }
    }
  }
}

.loadMore {
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
  color: var(--highlight);
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}